<!DOCTYPE html>
<html lang="en">

<!-- head 부분-->
<head>
  <head th:replace="fragments/module.html :: head">
	<link rel="stylesheet" type="text/css" href="/css/ranking.css">
</head>
<!-- header 부분-->
<header>
    <head th:replace="fragments/module.html :: header">
  </header>
  <!-- body 부분-->
  <body>
	<br>
	<br>
	<div class="main">
		<input id="tab1" type="radio" name="tabs" checked> <!--디폴트 메뉴-->
		<label for="tab1">tab menu1</label>
	
		<input id="tab2" type="radio" name="tabs">
		<label for="tab2">tab menu2</label>
	
		<input id="tab3" type="radio" name="tabs">
		<label for="tab3">tab menu3</label>
	
		
	
		<section id="content1">
			<p>tab menu1의 내용</p>
		</section>
	
		<section id="content2">
			<p>tab menu2의 내용</p>
		</section>
	
		<section id="content3">
			<p>tab menu3의 내용</p>
		</section>
	
		</div>
	</div>
</div>
</div>
  </body>
  

  

<!-- footer 부분-->
<footer>
    <head th:replace="fragments/module.html :: footer">
  </footer>