<!DOCTYPE html>
<html lang="en">

<!-- head 부분-->
<head>

<link rel="stylesheet" type="text/css" href="/css/Rank.css">
<script type="text/JavaScript" src="/js/RankService.js"></script>
  <head th:replace="fragments/module.html :: head">
	
</head>
<!-- header 부분-->
<header>
    <head th:replace="fragments/module.html :: header">
  </header>
  <!-- body 부분-->
  <body>
	<br>
	<br>
	<div class="Rankmain">

		<ul class="tables">
			<li class="tab-link current" data-tab="tab-1">메뉴_하나</li>
			<li class="tab-link" data-tab="tab-2">메뉴_둘</li>
			<li class="tab-link" data-tab="tab-3">메뉴_셋</li>
		</ul>
	
		<div id="tab-1" class="tab-content current">
	---- ---- -------- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ----
		</div>
		<div id="tab-2" class="tab-content">
	---- ---- ★------ ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ★-- ---- ---- ------★ ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- ★------ ---- ---- ---- ----
		</div>
		<div id="tab-3" class="tab-content">
	---- ★-- -------- ---- ---- ---- -★- ---- ---- -------- ---- -★- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- --★ -------- ★-- ---- ---- ---- ---- ---- -------- ---- ---- --★ ---- ---- ---- -------- ---- ---- ---- --★
		</div>
	
	</div>
	
  </body>
  

  

<!-- footer 부분-->
<footer>
    <head th:replace="fragments/module.html :: footer">
  </footer>