<!DOCTYPE html>
<html lang="en">

<!-- head 부분-->
<head>

<link rel="stylesheet" type="text/css" href="/css/Rank.css">
  <head th:replace="fragments/module.html :: head">
	
</head>
<!-- header 부분-->
<header>
    <head th:replace="fragments/module.html :: header">
  </header>
  <!-- body 부분-->
  <body>
	<br>
	<br>
	<div class="Rankmain">
		<input id="tab1" type="radio" name="tabs" checked> <!--디폴트 메뉴-->
		<label for="tab1">Daily</label>
	
		<input id="tab2" type="radio" name="tabs">
		<label for="tab2">Week</label>
	
		<input id="tab3" type="radio" name="tabs">
		<label for="tab3">Month</label>
	
		<section id="content1">
			<p>Daily 내용</p>
		</section>
	
		<section id="content2">
			<p>Week 내용</p>
		</section>
	
		<section id="content3">
			<p>Month 내용</p>
		</section>
	
	</div>
	
  </body>
  

  

<!-- footer 부분-->
<footer>
    <head th:replace="fragments/module.html :: footer">
  </footer>